---
import type { ImageMetadata } from 'astro'
import carouselImages from '@data/carousel-images-jsconf-chile'
import { Picture } from 'astro:assets'
import '@styles/carousel.css'

const getImages = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/events/jsconf-chile/*.{jpeg,jpg,png}'
);
---

<section class="carousel-container">
  <header>
    <h2>Más que diseño: una experiencia única</h2>
    <p>Además de diseñar, fui host junto con el staff, llevando la energía del evento y asegurando que cada momento fuera especial. Más que un evento en mi portafolio, JSConf Chile es una experiencia que marcó mi camino y mi conexión con la comunidad.</p>
  </header>
  <div class="embla">
    <div class="embla-viewport">
      <div class="embla-container">
        {
          carouselImages.map(({ alt, src }) => (
            <div class="embla-slide">
              <Picture
                src={getImages[src]()}
                alt={alt}
                width={581}
                height={387}
                formats={['avif', 'webp']}
                fetchpriority="low"
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  import '@scripts/carousel'
</script>

<style>
  .carousel-container {
    display: flex;
    flex-direction: column;
    gap: 64px;

    header {
      display: flex;
      flex-direction: column;
      gap: 32px;
      max-width: 833px;
      margin: 0 auto;
      text-align: center;

      h2 {
        font-size: 40px;
        font-weight: 700;
        text-wrap: balance;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        color: #B1B3D0;
        text-wrap: pretty;
        line-height: initial;
      }
    }
  }
</style>
