---
import { IconCatalog } from '@contracts'
import Button from '@components/Buttons/Button.astro'
import { Picture } from 'astro:assets'
import logo from '@images/events/jsconf-chile/logo.png'
---

<header>
  <div>
    <Picture
      src={logo}
      alt="Logo JSConf Chile"
      width={339}
      height={126}
      formats={['avif', 'webp']}
      fetchpriority="high"
      loading="eager"
    />
  </div>
  <h1>Organizadora y diseñadora</h1>
  <p>Mi historia con JSConf Chile comenzó en 2024, cuando diseñé voluntariamente su sitio web en vivo. Eso me llevó a ser parte del equipo organizador, una experiencia única y llena de aprendizaje</p>
  <Button
    invert
    tag="anchor"
    href="https://gallery.jsconf.cl/event/a51f9546-ff60-410c-acd0-ef7ab2b3b297"
    isFullWidth
    afterIcon={IconCatalog.arrowRight}
  >
    Ver JSConf Chile 2024
  </Button>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 993px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    & h1 {
      font-size: 36px;
      font-weight: 500;
      line-height: initial;

      @media (width >= 768px) {
        font-size: 64px;
      }
    }

    & p {
      font-size: 20px;
      font-weight: 400;
      line-height: initial;
      color: #B1B3D0;
      text-wrap: pretty;
    }
  }
</style>
