---
import GradientBackground from '@components/GradientBackground.astro'
import Layout from '@layouts/Layout.astro'
import Contact from '@sections/sections/Contact.astro'
import Analysis from '@sections/banco-ripley/Analysis.astro'
import Benchmarks from '@sections/banco-ripley/Benchmarks.astro'
import Context from '@sections/banco-ripley/Context.astro'
import Criterios from '@sections/banco-ripley/Criterios.astro'
import Designs from '@sections/banco-ripley/Designs.astro'
import Hero from '@sections/banco-ripley/Hero.astro'
---

<Layout title="Ana Rangel | Banco Ripley">
  <main>
    <GradientBackground color="blue" />

    <Hero />
    <Context />
    <Benchmarks />
    <Criterios />
    <Analysis />
    <Designs />

    <Contact />
  </main>
</Layout>

<style>
  main {
    padding-block-start: 4rem;
    overflow: hidden;
  }
</style>
