---
import GradientBackground from '@components/GradientBackground.astro'
import Layout from '@layouts/Layout.astro'
import Contact from '@sections/sections/Contact.astro'
import ABTesting from '@sections/latam-airlines/ABTesting.astro'
import Context from '@sections/latam-airlines/Context.astro'
import Designs from '@sections/latam-airlines/Designs.astro'
import Hero from '@sections/latam-airlines/Hero.astro'
import Process from '@sections/latam-airlines/Process.astro'
---

<Layout title="Ana Rangel | Latam Airlines">
  <main>
    <GradientBackground color="blue" />

    <Hero />
    <Context />
    <Process />
    <Designs />
    <ABTesting />

    <Contact />
  </main>
</Layout>

<style>
  main {
    overflow: hidden;
  }
</style>
