---
import { GradientColor } from '@contracts'
import GradientBackground from '@components/GradientBackground.astro'
import Layout from '@layouts/Layout.astro'
import Contact from '@sections/sections/Contact.astro'
import Context from '@sections/planograma/Context.astro'
import Designs from '@sections/planograma/Designs.astro'
import Hero from '@sections/planograma/Hero.astro'
import Process from '@sections/planograma/Process.astro'
---

<Layout title="Ana Rangel | Planograma">
  <main>
    <GradientBackground color={GradientColor.cyan} />

    <Hero />
    <Context />
    <Process />
    <Designs />

    <Contact />
  </main>
</Layout>

<style>
  main {
    overflow: hidden;
  }
</style>
