---
import GradientBackground from '@components/GradientBackground.astro'
import Layout from '@layouts/Layout.astro'
import Contact from '@sections/sections/Contact.astro'
import BasicInfo from '@sections/about/BasicInfo.astro'
import Hobbies from '@sections/about/Hobbies.astro'
import Testimonials from '@sections/about/Testimonials.astro'
import Tools from '@sections/about/tools/Tools.astro'
---

<Layout title="Sobre mí • Ana Rangel">
  <main>
    <GradientBackground color="purple" />
    <BasicInfo />
    <Tools />
    <Hobbies />

    <Testimonials />
    <Contact />
  </main>
</Layout>

<style>
  main {
    padding-block-start: 4rem;
    overflow: hidden;
  }
</style>
