---
import { t } from 'i18n:astro'
import Icon from '@components/Icon.astro'
import {
  IconCatalog,
  IconSize,
  IconStyle
} from '@contracts'
---

<div class="study-cases">
  <a href={"/latam-airlines"}>
  <section class="card-container latam-airlines">
    <div class="card-header--with-icon">
      <img
        class="logo-img"
        src="/svg/latam-airlines-logo.svg"
        alt="Latam airlines Logo"
        width="285"
        height="91"
      />
      <Icon
        classes="card-icon"
        icon={IconCatalog.arrowRight}
        size={IconSize['4xl']}
        iconStyle={IconStyle.bold}
      />
    </div>   
    <h3>{t('study_case_title')}</h3>
    <p>
      {t('study_case_desc')}
    </p>
    <picture style="aspect-ratio: 523/227">
      <source srcset="/img/home/latam-airlines-1.avif?v=1" type="image/avif" />
      <source srcset="/img/home/latam-airlines-1.webp?v=1" type="image/webp" />
      <img
        class="logo-img"
        src="/img/home/latam-airlines-1.webp?v=1"
        alt="Latam airlines - Ana Rangel"
        decoding="async"
        loading="lazy"
        fetchpriority="low"
        style="aspect-ratio: 523/227"
      />
    </picture>
  </section>
  </a>
  <a href={"/firma-fast"}>
  <section class="card-container ff-project">
    <div class="card-header--with-icon">
      <img
        class="logo-img"
        src="/img/home/logo_FF.webp"
        alt="Latam airlines Logo"
        width="285"
        height="91"
      />
      <Icon
        classes="card-icon"
        icon={IconCatalog.arrowRight}
        size={IconSize['4xl']}
        iconStyle={IconStyle.bold}
      />
    </div>   
    <h3>{t('ff_desc_title')}</h3>
    <picture style="aspect-ratio: 283/169">
      <img
        class="logo-img"
        src="/img/home/image_FF.webp"
        alt="Firma Fast - Ana Rangel"
        decoding="async"
        loading="lazy"
        fetchpriority="low"
        style="aspect-ratio: 283/169"
      />
    </picture>
  </section>
  </a>
</div>

<style is:global>
  .study-cases {
    display: grid;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;

    @media (width >= 992px) {
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }
  }

  .study-cases .latam-airlines {
    background: linear-gradient(150deg, #0b153f, #0d0e12);
    border: 1px solid hsl(0deg 0% 16%);
    border-radius: 1.5rem;
  }

  .latam-airlines:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 22.5px 0px rgba(255, 255, 255, 0.35);
    transition:
      border-color 300ms ease-in-out,
      box-shadow 300ms ease-in-out;
  }

  .ff-project {
    background: hsl(240deg 2% 9%);
    border: 1px solid hsl(0deg 0% 16%);
    border-radius: 1.5rem;
    justify-content: space-between;
  }

  .ff-project:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 22.5px 0px rgba(255, 255, 255, 0.35);
    transition:
      border-color 300ms ease-in-out,
      box-shadow 300ms ease-in-out;
  }

  .study-cases .card-container:not(.latam-airlines) {
    block-size: initial;

    & picture {
      @media (width >= 992px) {
        
        translate: -3rem 0;
      }
    }
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3rem 2rem;

    @media (width >= 992px) {
      padding: 3rem;
    }
  }
  .card-container:hover {
    --icon-color: var(--color-primary-400);
    --icon-transform: 0.4rem;
  }

  h3 {
    font-weight: 600;
    font-size: 2.25rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #b1b3d0;
  }

  .card-header--with-icon {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }
</style>
