.embla {
  --slide-spacing: 32px;

  --slide-size: 100%;
  --slide-size-md: 50%;
  --slide-size-lg: calc(125% / var(--number-of-slides));

  --number-of-slides: 3;

  @media (width >= 768px) {
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  }

  .embla-viewport {
    overflow: hidden;

    .embla-container {
      display: flex;
      backface-visibility: hidden;
      touch-action: pan-y pinch-zoom;

      .embla-slide {
        min-width: 0;
        flex: 0 0 var(--slide-size);
        padding-left: var(--slide-spacing);

        @media (max-width: 767.98px) {
          translate: calc(var(--slide-spacing) * -1) 0;

          &.nerdearla {
            translate: -16px 0;

            & img {
              object-fit: contain;
            }
          }
        }

        @media (width >= 768px) {
          flex: 0 0 var(--slide-size-md);

          &.nerdearla:first-child img {
            object-position: right;
          }
        }

        @media (width >= 1200px) {
          flex: 0 0 var(--slide-size-lg);
        }

        img {
          border-radius: 32px;
          object-fit: cover;
        }
      }
    }
  }
}
