<div class="figma-effect-container">
  <slot />
  <div class="figma-effect-dots-top"></div>
  <div class="figma-effect-dots-bottom"></div>
</div>

<style>
  @media (any-hover: hover) and (width >= 1200px) {
    .figma-effect-container {
      --offset-position: 8px;
      --color: #0c8ce9;

      position: relative;
      z-index: 10;
      width: fit-content;
      margin-inline: auto;
      cursor: inherit;
      user-select: none;

      &.active,
      &:hover {
        outline: 1px solid var(--color);
        outline-offset: var(--offset-position);
      }

      &.active .figma-effect-dots-top,
      &.active .figma-effect-dots-bottom {
        --dots-size: 6px;
        --dots-relative-center-point: 2.75;
        --dots-position: calc(var(--offset-position) * -1);

        --dots-translation: calc(
          var(--dots-position) / var(--dots-relative-center-point)
        );
        --dots-negative-translation: calc(var(--dots-translation) * -1);

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: var(--dots-size);
          height: var(--dots-size);
          background: #fff;
          border: 1px solid var(--color);
        }
      }

      &.active .figma-effect-dots-top {
        &::before {
          top: var(--dots-position);
          left: var(--dots-position);
          translate: var(--dots-translation) var(--dots-translation);
        }

        &::after {
          top: var(--dots-position);
          right: var(--dots-position);
          translate: var(--dots-negative-translation) var(--dots-translation);
        }
      }

      &.active .figma-effect-dots-bottom {
        &::before {
          bottom: var(--dots-position);
          left: var(--dots-position);
          translate: var(--dots-translation) var(--dots-negative-translation);
        }

        &::after {
          bottom: var(--dots-position);
          right: var(--dots-position);
          translate: var(--dots-negative-translation)
            var(--dots-negative-translation);
        }
      }
    }
  }
</style>

<script>
  import { Draggable } from '@neodrag/vanilla'

  const isMobile = /Android|iPhone|iPad/i.test(navigator.userAgent)

  if (isMobile === false) {
    const figmaEffectContainers = document.querySelectorAll('.figma-effect-container')
    const parentLimit = document.querySelector('.gradient-background + section') as HTMLElement
    const position = { x: 0, y: 0 }
    let timeout: string | number | NodeJS.Timeout | undefined

    const handleDrag = (
      container: HTMLElement,
      dragInstance: Draggable,
      offsetX: number,
      offsetY: number
    ) => {
      container.style.transition = 'none'
      container.classList.add('active')

      dragInstance.updateOptions({
        position: { x: offsetX, y: offsetY }
      })

      if (timeout) {
        clearTimeout(timeout)
      }
    }

    const handleDragEnd = () => {
      figmaEffectContainers.forEach((element) => {
        element.classList.remove('active')

        const instance = new Draggable(element as HTMLElement, { position, bounds: parentLimit })
        instance.updateOptions({ position })

        ;(element as HTMLElement).style.transition = 'transform 600ms cubic-bezier(.64, .26, .34, .91)'
      })
    }

    const initializeDraggable = (container: HTMLElement) => {
      const dragInstance = new Draggable(container, {
        position,
        bounds: parentLimit,
        onDrag: ({ offsetX, offsetY, rootNode }) => handleDrag(rootNode, dragInstance, offsetX, offsetY),
        onDragEnd: ({ rootNode }) => {
          rootNode.style.transition = 'transform 600ms cubic-bezier(.64, .26, .34, .91)'
          timeout = setTimeout(handleDragEnd, 4000)
        }
      })

      container.addEventListener('click', () => {
        container.classList.toggle('active')
      })

      document.addEventListener('click', ({ target }) => {
        if (container.contains(target as HTMLElement) === false) {
          container.classList.remove('active')
        }
      })
    }

    figmaEffectContainers.forEach((container) => {
      initializeDraggable(container as HTMLElement)
    })
  }
</script>
